<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PathFindingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E0DB34B1EBB2F5600FFA51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0DB3611EBB2F5600FFA51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0DB36C1EBB2F5600FFA51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
